
 <div class="loader" *ngIf="showbar"></div>
<div class="container-fluid">
<div class="row">
    
    <div class="col-md-3 card card-hover" *ngFor="let gift of gifts" >
        <a href="" (click)="selObj(gift)" style="text-decoration: none;color: white" data-toggle="modal" data-target="#ViewModal">
        <div class="card-body" >
            <img [ngClass]="{'card-img':true,'img-thumbnail':true}" [src]='"./assets/"+gift.path' [alt]="gift.pid" >
            <h4>{{gift.gname}}</h4>
            <h4>{{gift.price| currency:'INR':true}}</h4>
         </div></a>
      </div>
      
</div>
</div>

<div *ngIf="selectObj" id="ViewModal" class="modal">
  
  <div class="modal-dialog" >

    <div class="modal-content" id="grad1">
      <div class="modal-header">
        <button type="reset" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center" style="font-family: Cooper Black;">Detailed View</h4>
      </div>
      <form [formGroup]="addCart" (ngSubmit)="addcart()">
      <div class="modal-body" >
          
        <h3 class="text-center"><label class="label label-primary">{{selectObj.gname}}</label></h3>
        <table class="table table-striped">
          <caption [ngClass]="{'text-center':true}"><img [ngClass]="{'card-img':true,'img-thumbnail':true}" [src]='"./assets/"+selectObj.path'[alt]="selectObj.pid"></caption>
          <tr><th>Category</th><td>{{selectObj.category}}</td></tr>
          <tr><th>Price</th><td style="color: white">{{selectObj.price|currency:'INR':true}}</td></tr>
          <tr ><th>Stock Available</th><td [ngClass]="{'text-danger':!selectObj.qty,'alert alert-danger':!selectObj.qty}">{{selectObj.qty|stock}}</td></tr>
          <tr *ngIf="selectObj.qty && !login"><label class="label label-info">Quantity</label><input type="number" min="1" [max]="selectObj.qty" formControlName="qty"></tr>
        </table>
        <strong *ngIf="selectObj.qty">
        <strong *ngIf="!checkQty()" class="text-danger">
            Please enter a valid amount.
          </strong>
        </strong>  
      </div>
      <div class="modal-footer">
          <span><p [ngClass]="{'text-center':true,'alert alert-danger':true}" *ngIf="loginMessage"><b>{{loginMessage}},click <a routerLink="/custlogin" data-dismiss="modal">here</a> to login</b></p></span>
          <button type="submit" [ngClass]="{'btn btn-danger':true}"  [disabled]="(login || !selectObj.qty) || !checkQty()" ><span class="	glyphicon glyphicon-shopping-cart"></span><span>Add to cart</span></button>
          <button type="button" [ngClass]="{'btn btn-danger':true,'button':true}" [disabled]="(login || !selectObj.qty) || !checkQty()" (click)="buyNow(selectObj)" data-dismiss="modal"><span>Buy now</span></button>
        <strong *ngIf="message" class="alert alert-success">{{message}}</strong>
      </div>
      
      </form>
    </div>
</div>
