<div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-primary" id="grad1" >
        <div class="panel-heading"  style="background-color: transparent;border: transparent;"><strong>Customer</strong></div>
        <div class="panel-body">
            <div class="form-group">
                
          <!-- Write the code for form here -->
          <!-- should use the bootstrap classes form, form-group, form-control -->
          <!-- use error-message class for displaying field leval error messages -->
          <form [formGroup]="loginForm" (ngSubmit)="custlogin()">
            <div class="input-group form-group">
              <span class="input-group-addon" style="color:brown"><i class="glyphicon glyphicon-user"></i></span>
              <input type="email" class="form-control input-lg" formControlName="emailId" placeholder="Email" autofocus>
            </div>
            <strong class="text-danger" *ngIf="loginForm.get('emailId').invalid && loginForm.get('emailId').dirty">
              <strong *ngIf="!loginForm.controls.emailId.hasError('required')">
              Please enter a valid email
              </strong>
            </strong>
            <div class="input-group form-group">
                <span class="input-group-addon" style="color:brown"><i class="glyphicon glyphicon-lock"></i></span>
                <input [type]="show?'text':'password'" class="form-control input-lg" formControlName="password" placeholder="Password">
               
            </div>
            <div class="text-danger" *ngIf="loginForm.get('password').invalid && loginForm.get('password').dirty">
              <strong *ngIf="loginForm.controls.password.hasError('passwordcheck') && !loginForm.controls.password.hasError('required')">
                Password must be alphanumeric and contain atleast one uppercase,one lowercase letter and one special character.
              </strong>
              <strong *ngIf="loginForm.controls.password.hasError('maxlength') && !loginForm.controls.password.hasError('required')">
                Password must be less than 16 characters.
              </strong>
              <strong *ngIf="loginForm.controls.password.hasError('minlength') && !loginForm.controls.password.hasError('required')">
                Password must be minimum 8 characters.
              </strong>
            </div>
            <div class="input-group form-group">
            <label class="checkbox-inline" style="color:white">
            <input type="checkbox" (click)="showPassword()">Show password
            </label>
            </div>
            <div class="input-group form-group">
              <button type="submit" class="btn btn-primary" id="grad1" [disabled]="loginForm.invalid">Login</button>
            </div>
          </form>
          <div *ngIf="errorMessage!=null">
            <span class="text-danger">{{errorMessage}}</span>
          </div>
          <div *ngIf="successMessage!=null">
            <span class="text-success">{{successMessage}}</span>
          </div>
          <div style="color: white">
            <p class="text-center">New User?click here to <a style="color:lightpink" routerLink="/custregister" class="text-primary">register</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
