.register_item_container {
  margin-top: 10px;
  font-size: 1rem;
  font-style: italic;
}

.register_item_label {
  margin-right: 5px;
  font-style: italic;
}

.register_container {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 500px;
  margin-top: 100px;
  font-style: italic;
  border-radius: 5px;
}

.register__header {
  font-size: 1.25rem;
  font-style: italic;
}

.error {
  color: red;
  font-size: 0.6rem;
  margin-top: 5px;
  font-style: italic;
}

.register_item_input {
  height: 48px;
  font-size: 1.25rem;
  padding: 0.5rem 0.25rem;
  font-style: italic;
}

.register_btn {
  font-size: 1.1rem;
  padding: 0.1rem 0.25rem;
  font-style: italic;
}

.register_item_text {
  margin-left: 5px;
  font-style: italic;
}

.register_item_text_container {
  margin-top: 5px;
  display: inline-block;
  font-style: italic;
}
