.shopitem_picture {
  width: 14rem;
  height: 13rem;
}

.shopitem_card {
  width: 14rem;
  display: inline-block;
  margin: 10px 3px;
  cursor: pointer;
}

.shopitem_name {
  font-size: 25px;
  font-style: italic;
}

.shopitem_price {
  font-size: 20px;
  font-style: italic;
}

.shopitem_description {
  font-size: 20px;
  font-style: italic;
}

.shopitem_sales_count {
  font-size: 18px;
  /*text-decoration: underline;*/
}
.shopitem-favorite-icon {
  cursor: pointer;
  z-index: 9999;
}
