.login_item_container {
  margin-top: 10px;
  font-size: 1rem;
  font-style: italic;
}

.login_item_label {
  margin-right: 5px;
  font-style: italic;
}

.login_container {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 500px;
  margin-top: 100px;
  border-radius: 5px;
  font-style: italic;
}

.login__header {
  font-size: 1.25rem;
  font-style: italic;
}

.error {
  color: red;
  font-size: 1rem;
  margin-top: 5px;
  font-style: italic;
}

.login_item_input {
  height: 48px;
  font-size: 1.25rem;
  padding: 0.5rem 0.25rem;
  font-style: italic;
}

.login_btn {
  font-size: 1.1rem;
  padding: 0.1rem 0.25rem;
  position:sticky;
  top:2px; left:654px;
  font-style: italic;
}

.login_item_text {
  margin-left: 5px;
  font-style: italic;
}

.login_item_text_container {
  margin-top: 5px;
  display: inline-block;
  font-style: italic;
}
