<div class="container" *ngIf="orderList">
    <h4 class="alert alert-danger" *ngIf="orderList.length==0">You have'nt ordered any products yet....</h4>
</div>
<div class="container-fluid">
    <div class="col-md-3 card card-hover" *ngFor="let i of orderList">
            <div class="card-body" >
                <span>
                    <img [ngClass]="{'img-thumbnail':true}" style="width:150px;height:150px;margin-top: 10px;margin-bottom: 10px;float: left;" [src]='"./assets/"+i.path' [alt]="i.pid">
                    <p><b>Name:</b>{{i.gname}}</p>
                    <p><b>Quantity:</b> {{i.qty}}</p>
                    <p><b>Price:</b> {{i.cost|currency:'INR':true}}</p>
                    <p><b>Payment Mode:</b> {{i.paymentType}}</p>
                </span>
            </div>
            <div class="card-footer">
                <b>Date of order:</b> {{i.orderDate|date:'mediumDate'}}<br>
                <b>Order Status:</b> {{i.ordrstatus}}
            </div>
    </div>
</div>

 